#_login {
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    padding: 4rem 3.5rem 0 3rem;
    .title {
      color: $primary-color;
      font-weight: 600;
      font-size: 1.2rem;
      text-align: left;
      margin-bottom: 4rem;
    }
    .slogan {
      font-size: 1.4rem;
      font-weight: 500;
      text-align: left;
    }
    form {
      margin-top: 2rem;
      .error {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        .icon {
          font-size: 1.2rem;
          color: $error-color;
          &:hover {
            transform: translateY(22%);
            &~.toast {
              display: block;
            }
          }
        }
        .toast {
          display: none;
        }
      }

      .input-group {
        display: flex;
        flex-direction: column;
        position: relative;
        border: 0.05rem solid #ecedf9;
        border-left: solid 0.25rem $primary-color !important;
        border-radius: 0.1rem;

        &.username-input {
          border-bottom: none;
          border-bottom-left-radius: 0;
        }
        &.password-input {
          border-top: none;
          border-top-left-radius: 0;
        }

        .input-label {
          font-size: $font-size-sm;
          font-weight: 400;
          text-align: left;
          padding-top: 0.4rem;
          padding-left: 0.4rem;
        }
        .username {
          border: none;
          padding-bottom: 0.4rem;
          padding-left: 0.4rem;
          border-bottom: 0.05rem solid #ecedf9;
          color: $primary-color;
          &:focus {
            outline: none;
          }
          &:placeholder-shown {
            display: flex;
            align-items: center;
          }
          &::placeholder {
            font-size: 0.6rem;
            color: rgba(0, 0, 0, 0.25);
          }
        }
        .password {
          border: none;
          padding-bottom: 0.4rem;
          padding-left: 0.4rem;
          color: $primary-color;
          &:focus {
            outline: none;
          }
          &:placeholder-shown {
            display: flex;
            align-items: center;
          }
          &::placeholder {
            font-size: 0.6rem;
            color: rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
    .form-group {
      display: flex;
      justify-content: space-between;
      .form-checkbox {
        display: flex;
        font-size: $font-size-sm;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);
      }
      .forgot {
        font-size: $font-size-sm;
        margin-top: 0.4rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.25);
      }
    }
    .submit {
      align-self: flex-start;
      margin-top: 4rem;
      background-color: $primary-color;
      width: 6rem;
      height: 2.25rem;
      border: none;
      font-size: 0.65rem;
      box-shadow: 0 3px 15px rgba($primary-color, 0.35);
    }
  }

  .pic {
    background-size: cover;
    background-position: center;
    background-image: url("../../static/background-login.jpg");
    height: 100vh;
    opacity: 0.5;
  }
}
