#_login {
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    padding: 4rem 3.5rem 0 3rem;
    .title {
      color: $primary-color;
      font-weight: 600;
      font-size: 1.2rem;
      text-align: left;
      margin-bottom: 4rem;
    }
    .slogan {
      font-size: 1.4rem;
      font-weight: 500;
      text-align: left;
    }
    .input-group {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      border: .05rem solid #ecedf9;
      border-left: solid .25rem $primary-color;
      border-radius: .1rem;
      .input-label {
        font-size: $font-size-sm;
        font-weight: 400;
        text-align: left;
        padding-top: .4rem;
        padding-left: .4rem;
      }
      .username {
        border: none;
        padding-bottom: .4rem;
        padding-left: .4rem;
        border-bottom: .05rem solid #ecedf9;
        color: $primary-color;
        &:focus {
          outline: none;
        }
        &:placeholder-shown {
          display: flex;
          align-items: center;
        }
        &::placeholder {
          font-size: .6rem;
          color: rgba(0, 0, 0, .25);
        }
      }
      .password {
        border: none;
        padding-bottom: .4rem;
        padding-left: .4rem;
        color: $primary-color;
        &:focus {
          outline: none;
        }
        &:placeholder-shown {
          display: flex;
          align-items: center;
        }
        &::placeholder {
          font-size: .6rem;
          color: rgba(0, 0, 0, .25);
        }
      }
    }
    .form-group {
      display: flex;
      justify-content: space-between;
      .form-checkbox {
        display: flex;
        font-size: $font-size-sm;
        font-weight: 500;
        color: rgba(0, 0, 0, .5);
      }
      .forgot {
        font-size: $font-size-sm;
        margin-top: .4rem;
        font-weight: 500;
        color: rgba(0, 0, 0, .25);
      }
    }
    .submit {
      align-self: flex-start;
      margin-top: 4rem;
      background-color: $primary-color;
      width: 6rem;
      height: 2.25rem;
      border: none;
      font-size: .65rem;
      box-shadow: 0 3px 15px rgba($primary-color, .35);
    }
  }

  .pic {
    background-size: cover;
    background-position: center;
    background-image: url('../pictures/background-login.jpg');
    height: 100vh;
    opacity: .5;
  }
}
