#_statistics {
  padding: 2rem 1rem;
  @media screen and (max-width: $size-2x) {
    padding-left: 0;
    padding-right: 0;
  }
  .tile {
    background-color: #fff;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .1);
    margin: 0 .5rem 1.5rem;
    padding: 1.2rem;
    border-radius: .2rem;
    .tile-icon {
      padding: .8rem;
      border-radius: 50%;
      .icon {
        color: #fff;
        font-size: 1.8rem;
        @media screen and (max-width: $size-2x) {
          font-size: 1.2rem;
        }
      }
    }
    .tile-content, .tile-action {
      text-align: left;
      display: flex;
      flex-direction: column;
      .tile-title {
        font-size: 1.4rem;
        font-weight: 500;
        @media screen and (max-width: $size-2x) {
          font-size: 1.2rem;
        }
      }
      .tile-subtitle {
        font-weight: 350;
        font-size: .7rem;
      }
    }
  }
  .unreturned .tile-icon {
    background-color: $primary-color;
  }
  .expired .tile-icon {
    background-color: $expired;
  }
  .loss .tile-icon {
    background-color: $loss;
  }
  .count .tile-icon {
    background-color: $success-color;
  }
  .total {
    display: none;
    @media screen and (max-width: $size-2x) {
      display: flex;
    }
    .tile-icon {
      background-color: $loss;
    }
  }
  .enterYear {

    .title{
      font-weight: 400;    
    }
    .form-horizontal{
      display:flex;
      flex-direction: column;
    }
    .form-group {
      .btn {
        width:4.5rem !important;
        height :1.9rem;
        margin-left:1.5rem;
        font-size: $font-size-sm;
        @extend .addBtn 
      }
    }
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    text-align:left;
    width: 47.5%;
    height:6.5rem;
    margin-left:.5rem;
    background-color: #fff;
    border-style: hidden;
    border-radius: .2rem;
    box-shadow: 0 1.5px 6px 3px rgba(#ccc, .35);
  }

  .chart {
    padding-top: 1.2rem;
    margin: 0 .8rem;
    margin-left:.5rem;
    margin-right:.5rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .08);
    background-color: #fff;
    .chart-title {
      text-align: left;
      margin-left: 1.2rem;
    }
    & > div {
      padding: 1rem 0;
    }
  }
}