#_users {
  #_table {
    .form-group, .col_privilege {
      width: 8rem;
    }
    .row {
      td {
        padding-top: .8rem;
        padding-bottom: .8rem;
      }
      .col_type {
        select {
          width: 70%;
          border-color: $border-color;
        }
      }
      .col_action .btn {
        margin: 0;
        border-radius: .3rem;
        width: 3.5rem;
      }
    }
  }
}