#_modal,#_receipt {
  .modal-container {
    width: 20rem;
    padding: 1rem .8rem;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: .3rem;

      .close-button {
        cursor: pointer;
        font-size: 1.4rem;
        &:active {
          transition-duration: 80ms;
          margin: .05rem .05rem 0 0;
          font-size: 1.3rem;
        }
        &:hover::before {
          color: darken(#ddd, 5%);
        }
        &::before {
          color: #ddd;
        }
      }

      .modal-title {
        text-align: left;
      }
    }

    .modal-body {
      padding-top: .3rem;
      text-align: left;
      font-weight: 300;
    }
  }
}

#_confirm_modal {
  @extend #_modal;
  .modal-container {
    .modal-footer {
      padding-top: 1.2rem;
      .button-group {
        float: right;
        .cancel {
          border-color: $button-color;
          background-color: $button-color;
          color: #fff;
          box-shadow: 0 1px 8px rgba($button-color, 0.7) !important;
          &:hover {
            background-color: darken($button-color, 5%);
          }
          &:active {
            box-shadow: 0 .3px .5px rgba($button-color, 0.7) !important;
          }
        }
  
        .btn {
          padding-left: 1.7rem;
          padding-right: 1.7rem;
          border-radius: .15rem;
          font-size: $font-size-sm;
          font-weight: 200;
          box-shadow: 0 1px 8px rgba($primary-color, 0.7);
          &:active {
            box-shadow: 0 .3px .5px rgba($primary-color, 0.7) !important;
          }
        }
      }
    }
  }
}