#_receipt{
  @extend #_modal;
  text-align: left;
  .modal-container {
    width: 50%;
    .modal-header {
      .modal-title-group {
        display: flex;
        align-items: center;
        .header {
          display: flex;
          .amount {
            color: $primary-color;
            font-weight: 600;   
          }
        }
      }
    }

    .modal-body {
      .container {
        margin-top: .8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        .left-container, .right-container {
          .title, .time {
            font-weight: 400;
            font-size: $font-size-lg;
          }
          .date {
            color: $text-gray;
            margin-top: .5rem;
            font-size: .65rem;
            font-weight: 300;
          }
        }
        .box1, .box2 {
          padding-top: .9rem;
          .dottedLine {
            border-top: dashed;
            width: 8rem;
          }
        } 
        .icon {
          padding-top: .9rem;
          color: $primary-color;
          font-size: 2rem;
        }
      }
      .lateContainer {
        flex-direction: column;
        text-align: center;
        font-weight: 400;
        .late {
          color: $primary-color;
        }
      }
      .detailsContainer {
        margin-top: 4rem;
        font-size: .85rem;
        & > div {
          display: flex;
          margin-top: .5rem;
        }
        .columns .column {
          text-align: right;
        }
        .payerName, .cashierName {
          font-weight: 400;
        }
        .itemGroup {
          font-weight: 400;
          .code {
            font-size: .6rem;
            font-weight: 300;
            color: darken($text-gray, 5%);
          }
        }
        .amount {
          font-weight: 400;
          color: $primary-color;
        }
      }
    }
  }
}