#_table {
  border: solid 1px #eaeaea;
  border-radius: .3rem;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .08);
  table {
    border-collapse: collapse;
    .title {
      td {
        padding: .8rem 1rem;
      }
      .title_name {
        display: flex;
        justify-content: flex-start;
        font-size: 1rem;
      }
      .navbar {
        .input-group {
          input {
            border-color: rgba(#2D4059, .25);
            &::placeholder {
              color: $text-gray;
              font-size: $font-size-sm;
            }
          }
          .form-icon {
            color: $icon-color;
          }
        }
      }
    }

    tr {
      border-top: solid 1px #e9e9e9;
      &:first-child {
        border: none;
      }
      th, td {
        padding: .4rem 0;
        min-width: 9rem;
      }
    }
  }

  .striped tr:nth-child(even), .hoverable tr:hover {
    background-color: #f5f5f5;
  }
}
