#_details {
  .addBtn {
    display: flex;
    justify-content: center;
  .icon{
    padding-top:.2rem;
    }
  }
  #_table {
    .row {
      .col_item_in, .col_item_out {
        .expired {
          font-size: .7rem;
        }
        .date {
          color: darken($text-gray, 5%);
          font-size: .65rem;
          font-weight: 300;
        }
        .time {
          font-size: $font-size-lg;
        }
      }
      .col_status {
        div {
          display: flex;
          flex-direction: column;
          .label {
            margin-bottom: .5rem;
            width: 4.5rem;
            text-align: center;
            &:last-of-type, &:only-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}