#_management {
  #_table {
    margin-bottom: 3rem;
    .col_record {
      .icon {
        font-size: $font-size-lg;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .addBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
  }

  .expired {
    text-align: left;
    width: 40%;
    padding: 1rem 1.2rem;
    background-color: #fff;
    border-style: hidden;
    border-radius: .35rem;
    box-shadow: 0 1.5px 6px 3px rgba(#ccc, .35);
    @media screen and (max-width: $size-xl) {
      // padding: 1rem .9rem;
    }
    .form-horizontal {
      display: flex;
      flex-direction: column;
      .form-group {
        .form-label {
          @media screen and (max-width: $size-xl) {
            font-size: $font-size-sm;
          }
        }
        .col-9 {
          color: $text-gray;
          div {
            display: flex;
            align-items: center;
            @media screen and (max-width: $size-xl) {
              font-size: $font-size-sm;
            }
            .form-input {
              width: 75%;
            }
          }
        }
      }
      .btn {
        align-self: flex-end;
        margin-top: .8rem;
        margin-bottom: 0 !important;
        @extend .addBtn
      }
    }
  }


  .imodal .modal-container {
    width: 100%;
    .modal-body {
      width: 50%;
      .form-horizontal {
        .type, .serial, .price {
          .col-9 {
            div {
              display: flex; 
              align-items: center;
            }
            .form-input-hint {
              margin-bottom: .2rem;
            }
          }
        }
      }
    }

    .modal-footer {
      display: flex;
      flex-direction: row-reverse;
      padding: 0 1.2rem 1.5rem;
      .btn {
        margin-bottom: 0 !important;
        font-size: $font-size-sm;
        @extend .addBtn 
      }
    }
  }
  .confirmModal .modal-container {
    width:30%;
  }
}