// font and variables
@import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');
@import 'variables';

// layouts
@import 'layouts/sidebar';

// components
@import 'components/tables';
@import 'components/modal';

// pages
@import "pages/login";
@import 'pages/homepage';
@import 'pages/rent/main';
@import 'pages/rent/addNew';
@import 'pages/item_management/management';

// add button
.addBtn {
  width: 4rem;
  border-radius: .15rem;
  font-size: $font-size;
  box-shadow: 0 .1rem .5rem 0 rgba($primary-color, .5);
}