// font and variables
@import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');
@import 'variables';

// layouts
@import 'layouts/sidebar';

// components
@import 'components/tables';
@import 'components/modal';

// pages
@import "pages/login";
@import 'pages/homepage';
@import 'pages/rent/main';
@import 'pages/rent/addNew';
@import 'pages/item_management/management';
@import 'pages/item_management/details';
@import 'pages/users';

// add-button
.addBtn {
  width: 5rem;
  border-radius: .15rem;
  font-size: $font-size !important;
  margin-bottom: 1.8rem;
  box-shadow: 0 .1rem .5rem .05rem rgba($primary-color, .5);
}

// remove spinners for input[type=number]
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// remove spinners for <select>
// .selectdiv {
//   position: relative;
//   &:after {
//     content: '<>';
//     font: 17px "Consolas", monospace;
//     color: #333;
//     -webkit-transform: rotate(90deg);
//     -moz-transform: rotate(90deg);
//     -ms-transform: rotate(90deg);
//     transform: rotate(90deg);
//     right: .15rem;
//     /*Adjust for position however you want*/
//     top: .9rem;
//     padding: 0 0 .15rem;
//     border-bottom: 1px solid #999;
//     /*left line */
//     position: absolute;
//     pointer-events: none;
//   }
//   select {
//     /*To remove button from IE11, thank you Matt */
//     &::-ms-expand {
//       display: none !important;
//     }
//     -webkit-appearance: none !important;
//     -moz-appearance: none !important;
//     appearance: none !important;
//     /* Add some styling */
//     display: block;
//     width: 100%;
//     max-width: 320px;
//     height: 50px;
//     float: right;
//     margin: 5px 0px;
//     padding: 0px 24px;
//     font-size: 16px;
//     line-height: 1.75;
//     color: #333;
//     background-color: #ffffff;
//     background-image: none;
//     border: 1px solid #cccccc;
//     -ms-word-break: normal;
//     word-break: normal;
//   }
// }
