#_personal, #_group {
  .btn {
    @extend .addBtn;
  }
}

#_personal, #_group {
  #_table {
    .col_item_in, .col_item_out {
      .expired {
        font-size: .7rem;
      }
      .date {
        color: darken($text-gray, 5%);
        font-size: .65rem;
        font-weight: 300;
      }
      .time {
        font-size: $font-size-lg;
      }
    }
    .col_status {
      .action {
        font-size: .75rem;
        color: $primary-color;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: darken($primary-color, 25%);
        }
      }
    }
  }
}