#_personal, #_group {
  .btn {
    @extend .addBtn
  }
}

#_personal {
  #_table {
    .row .col_student {
      display: flex;
      justify-content: space-around;

      .student_data {
        text-align: left;
      }
    }
  }
}